@font-face{
        font-family: "Muller";
        src: url("fonts/MullerMedium.woff2") format("woff2"),
        url("fonts/MullerMedium.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        }


body{
  background-color: #E5E5E5;
  margin: auto;
  max-width: 1170px;
  font-family: 'Muller-MullerMedium', Arial, Helvetica, sans-serif;
  font-size: 0;
}

.container{
  margin-top: 70px;
}

.header{ 
  margin-top: 30px;
}

.header-start{
  display: inline-block;
  vertical-align: middle;
}

.header-start-log{
  float: right;
  line-height: 54px;
  text-decoration: none;
}

.log-in{  
  padding-left: 25px;
  background-image: url("../img/keyboard_tab.svg");
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: none;
  font-weight: 400;
  color: #CC9933;
  font-size: 16px;
}

.nav{
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.header-nav{
  display: inline-block;
}

.header-list{
  padding-inline-start: 0px;
  width: fit-content;
}

.header-list-item{
  display: inline-block;
  vertical-align: middle; 
}

.item{
  margin: 0;
  padding-left: 44px;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
}

.header-link{
  text-decoration: none;
  font-weight: 400;
  color: #666666;
  font-size: 16px;  
}

.contacts-address{
  padding-left: 34px;
}

.contact-item{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: #666666;
    font-size: 20px;
}

.border{
  background-color:  #E1E1E1;
  height: 50px;
  width: 1px;
  vertical-align: middle;
  margin-left: 56px;
  padding: 0;
}

.btn{
  float:right;
}

.btn-nav{
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #CC9933;
  background-color: #FFFFFF;
}

.btn-want{
  width: 107px;
  height: 42px;
  padding: 0;
  margin:14px 40px 14px 57px;

}

.btn-backcall{
  width: 177px;
  height: 42px;
  padding: 0;
  margin:14px 45px 14px 0;
}

.section-title{
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 0 40px;
}

.card-special{
  display: grid;
  grid-template-columns: 572px 572px;
  grid-template-rows: 258px 258px;
  gap: 18px;
  margin-top: 20px;
}

.card-special-text{
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.card-special-1{
  position: relative;
  background: url(../img/maldives.jpg);
  border-radius: 10px; 
}

.card-special-2{
  position: relative;
  background: url(../img/crete.jpg);
  border-radius: 10px;
}

.card-special-3{
  position: relative;
  background: url(../img/luxury.jpg);
  grid-row: 1 / 3;
  grid-column: 2;
  border-radius: 10px;
}

.card-special-name-small{
  box-sizing: border-box;
  margin: 0;
  max-width: 350px;
  color:#FFFFFF;
  font-family: inherit;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

.card-special-price-small{
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-top: 15px;
}



.card-special-name-big{
  box-sizing: border-box;
  margin: 0;
  max-width: 350px;
  color:#FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.card-special-price-big{
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-top: 15px;
}

.card-special-details{
  display: block;
  background-image: url(../img/more.png);
  background-repeat: no-repeat;
  height:20px;
  width:110px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 47px;
}

.description{
  width: 888px;
  margin: 11px 0 0 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.card-services{
  display: grid;
  grid-template-columns: 572px 572px;
  grid-template-rows: 330px 330px;
  gap: 23px;
  margin-top: 20px;
}

.image-service1{
  background: url(../img/glasses.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.image-service2{
  background: url(../img/table.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.image-service3{
  background: url(../img/swimming-pool.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.image-service4{
  background: url(../img/cars.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card-services-content{
  background-color: #FFFFFF;
  border-radius: 15px;
}

.card-img{
  border-radius: 15px 15px 0 0;
}

.card-acc-img{
  position: relative;
  border-radius: 15px;
}

.card-services-name{
  display: block;
  width: max-content;
  height: 40px;
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #CC9933;
  margin: 190px 0 0 45px;
  padding: 0;
}

.image-service-link1{
  background: url(../img/image-link1.png) no-repeat;
  width: 302px;
}

.image-service-link2{
  background: url(../img/image-link2.png) no-repeat;
  width: 258px;
}

.image-service-link3{
  background: url(../img/image-link3.png) no-repeat;
  width: 371px;
}

.image-service-link4{
  background: url(../img/image-link4.png) no-repeat;
  width: 378px;
}

.card-services-description{
  width: 402px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color:#000000;
  margin: 0 0 0 45px;
}

.card-benefits{
  display: grid;    
  grid-template-columns: repeat(4, 275px);
  grid-template-rows: repeat(2, 275px);
  grid-gap: 23px;
  margin: 30px 0 0 0;
}

.card-benefit-item{
  background-color: #FFFFFF;
  border-radius: 15px;
}

.back-image1{
  background: url(../img/bathtub.svg);  
}

.back-image2{
  background: url(../img/hanger.svg);  
}

.back-image3{
  background: url(../img/heating.svg);  
}

.back-image4{
  background: url(../img/hotel-key.svg);  
}

.back-image5{
  background: url(../img/parking.svg);  
}

.back-image6{
  background: url(../img/reception.svg);  
}

.back-image7{
  background: url(../img/security-box.svg);  
}

.back-image8{
  background: url(../img/swimming-pool.svg);  
}

.back-image-properties{
  background-size: 25% auto;
  background-repeat: no-repeat;
  margin: 40px 0 0 45px;
}

.card-benefit-description{
  width: 188px;
  padding-top: 76px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.card-accommodation{
  display: grid;    
  grid-template-columns: repeat(3, 374px);
  grid-template-rows: repeat(3, 440px) ;
  grid-gap: 23px;
  margin: 30px 0 0 0;
}

.card-accommodation-content{
  position: relative;
  background: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
}

.price, .star{
 display: inline-block;
}

.card-acc-price{
  display: block;
  width: fit-content;
  margin: 36px 0 0 45px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.img-accomodation-1{
   margin: 0 0 0 44px;
}

.img-accomodation-2{
   margin: 0 0 0 6px;
}

.acc-name{
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 16px 0 0 45px;
}

.acc-country{
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 16px 0 0 45px;
  color: #999999;
}

.btn-acc{
  width: 100px;
  height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #CC9933;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 20px 0 0 45px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #CC9933;
  text-align: center;
  cursor: pointer;
}

.card-accommodation-more{
  position: absolute;
  left: 54px;
  bottom: 27px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.arrow-acc{
  display: inline;
  vertical-align:middle;
  box-sizing: border-box;
}